.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}


.pickers-wrapper {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex: 1;
  width: 450px;
}

.form-date-picker {
  flex: 50%;
}

.form-time-picker {
  flex: 50%;
  margin-left: 16px;
}
