<p>add-discount works!</p>
<div mat-dialog-title>
  <h1>Add Discount Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

  <div class="row">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input  [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
    </mat-form-field>

    <!-- <p>Selected range: {{range.value | json}}</p> -->

  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Enter a start time</mat-label>
      <input type="time" matInput formControlName="startTime"
           placeholder="HH/MM/SS">

<!--
      <input type="time" name="startTime" formControlName="startTime">
      <input type="time" name="endTime" formControlName="endTime"> -->
      <mat-hint>HH:MM</mat-hint>

    </mat-form-field>

</div>



<div class="row">
  <mat-form-field>
    <mat-label>Enter a End time</mat-label>
    <input type="time" matInput formControlName="endTime"
    placeholder="HH/MM" >


<!--
    <input type="time" name="startTime" formControlName="startTime">
    <input type="time" name="endTime" formControlName="endTime"> -->
    <mat-hint>HH:MM</mat-hint>

  </mat-form-field>

</div>

<div class="row">
</div>

      <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="discountPercent">
              <mat-label><b>Discount Percent(%)</b></mat-label>
              <mat-radio-button value="5%">5</mat-radio-button>
              <mat-radio-button value="10%">10</mat-radio-button>
              <mat-radio-button value="20%">20</mat-radio-button>
              <mat-radio-button value="25%">25</mat-radio-button>
              <mat-radio-button value="40%">40</mat-radio-button>
              <mat-radio-button value="50%">50</mat-radio-button>


          </mat-radio-group>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Discount Type</mat-label>
              <mat-select formControlName="discountType">
                  <mat-option>Discount Percentage</mat-option>
                  <mat-option>Coupen</mat-option>

              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Discount Count</mat-label>
              <input type ="number"matInput placeholder="1" formControlName="disCount">
          </mat-form-field>
      </div>
  </div>

  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>

</form>
