<p>forgot-password works!</p>
<p>login works!</p>

<div class="center">
<h1>Forgot Password</h1>
<form [formGroup]="forgotForm" (ngSubmit)="fetchData()">
  <div class="txt_field">
    <input type="text" required formControlName="uname" placeholder="Enter your username">
    <span></span>
    <!-- <label>Username</label> -->
  </div>
  <div class="txt_field">
    <input type="email" required formControlName="email" placeholder="Enter your Email id">
    <span></span>
    <!-- <label>Password</label> -->
  </div>
  <div class="txt_field">
    <input type="password" required formControlName="password" placeholder="create a new password:">
    <span></span>
    <!-- <label>Password</label> -->
  </div>
  <input [disabled]="forgotForm.invalid" type="submit" value="Change Password">

</form>
</div>
