<p>top-brands works!</p>
<!-- <p>top-brands works!</p> -->
<div class="brands">
  <h2>Top brands for you</h2>

  <ul>
    <li>
      <img class="anna_img"src="\assets\resources\annapoorna.avif" width="60%">
      <h3 class="anna">Sree Annapoorna Gowrishankar</h3>
    </li>

    <li>
      <img src="\assets\resources\Anandhaas.avif" alt="" width="60%">
      <h3 class="anna">Shree Anandhaas</h3>
    </li>
    <li>
      <img class="anna_img" src="\assets\resources\KFC.avif" alt="" width="80%">
      <h3 class="KFC">KFC</h3>
    </li>
    <li>
      <img class="anna_img" src="\assets\resources\Haribhavanam.avif" alt="" width="60%">
      <h3 class="HB">Haribhavanam</h3>
    </li>
    <li>
      <img class="anna_img"src="\assets\resources\pizzaHut.avif" alt="" width="70%">
      <h3 class="ht">Pizza Hut</h3>
    </li>
    <li>
      <img class="anna_img"src="\assets\resources\BGking.avif" alt="" width="70%">
      <h3 class="bk">Burger King</h3>
    </li>

  </ul>
</div>


<!-- {{brands|json}}


<div >
  <div class="outer ">
  <div *ngFor="let brand of brands" class="margin">
    <div class="roundedBack">
    <img [src]="brand.resImg"  class="imgsty">
    <h3 class="">{{brand.resName}}</h3>
  </div>
  </div>
  </div>
</div> -->


