.best_food{
  margin-left: 100px;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.cards{
margin-left: 100px;
margin-top: 50px;
background-color:#d9d9d9;
height:300px;
width:300px;
border-radius:10px;
position:absolute;

}

.image138
{
height:200px;
width:300px;
border-radius:10px;
position:absolute;
}

  .container {
    padding: 2px 16px;
    margin-top: 200px;
  }



.hotel_name{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;

}

.cuisine{
  margin-top: 50px;
  color:#5d5050;
text-align:left;
font-size:16px;
font-family:Inter;
width:159px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}


.rating{
  position: relative;
  border-radius: 3px;
  float: right;
  width: 35px;
  height: 22px;
  background-color: darkgreen;
  margin: 18px;

}

.small1{
  color: #d9d9d9;
  font-size: 0.9em;
  padding-left: 7px;
  font-weight: bolder;

}



.cost
{
  margin-top: 30px;
  margin-left: -60px;
color:#423939;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
width:94px;
height:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}


.cards1{
  margin-left: 530px;
  margin-top: 50px;

background-color:#d9d9d9;
height:300px;
width:300px;
border-radius:10px;
position:absolute;
}

.card2{
  margin-left: 930px;
  margin-top: 50px;
  background-color:#d9d9d9;
height:300px;
width:300px;
border-radius:10px;
position:absolute;
}

best_food{
  margin-left: 100px;
}

.flex{
  display: flex;
  margin-top: 400px;
}

.card3{
  margin-top: 400px;
  background-color:#d9d9d9;
height:300px;
width:300px;
border-radius:10px;
position:absolute;
}


/* div img:hover {
  opacity: 70%;
} */




.colconten{
  column-count: 3;
}


.box {
  display: flex;

  flex-wrap: wrap; /* Wrap items to new row when there is not enough space */

}








.image-container {
  display: flex;
  flex-wrap: wrap; /* Wrap items to new row when there is not enough space */
  gap: 60px; /* Add gap between items */
  margin-left: 80px;


}

.image-item {
  flex-basis: calc(25.33% - 20px); /* Set width of each item to 33.33% minus gap */
  margin: 30px; /* Add margin around each item */
  background-color:#d9d9d9;
  border-radius: 10px;
  height:330px;


}

.image-item img {
  width: 100%; /* Make images fill the width of their parent containers */
  height: auto; /* Maintain aspect ratio of images */
  border-radius: 10px;
}



.hotel_name1{
  color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
margin-left: 10px;
margin-top: 18px;
}

.small12{
  color: #d9d9d9;
  font-size: 0.9em;
  padding-left: 7px;
  font-weight: bolder;
}


.cuisine1{
  margin-top: 50px;
  color:#5d5050;
text-align:left;
font-size:16px;
font-family:Inter;
width:179px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
margin-left: 10px;
}


.cost1{
  margin-top: 36.3px;
  margin-left: -60px;
color:#423939;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
width:94px;
height:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}


.imgs{
  height: 230px;
}
